# Default gcloudignore entries
.gcloudignore
.git
.gitignore

# Python virtualenv
venv/
env/
ENV/
.venv/

# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS junk
.DS_Store

# Node / frontend junk
node_modules/

# Tests (not needed on production)
tests/

# Local files
*.log

# IDE
.idea/
.vscode/
